@{
    ViewData["Title"] = "Home Page";

}

<div class="container-fluid p-0">             
        <!-- start jumbotro -->
        <section id="jumbotron">
            <div class="container-fluid overlay">
            </div>
            <div>               
                <div class="container">

                    <div class="info">
                        <h1>welcome to MINEE Logistics</h1>
                        <p>Xử lý thông quan lô hàng nhập khẩu & xuất khẩu một cách nhanh chóng nhất cho doanh nghiệp.</p>
                        <div>
                            <a href="#">Chi tiết</a>
                            <a href="#">Liên hệ</a>
                        </div>
                    </div>
                    <div class="dots">
                        <a href="#">1</a>
                        <a href="#" class="active">2</a>
                        <a href="#">3</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end jumbotro -->

        <!-- Team section Start -->
        <section id="team" class="section">
            <div class="container">
                <!-- Start Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="team-text section-header text-center">
                            <div>
                                <h2 class="section-title">
                                    DỊCH VỤ LOGISTICS MINEE
                                </h2>
                                <div class="desc-text">
                                    <p>MINEE công ty hàng đầu trong việc cung cấp dịch vụ logicstics, vận chuyển hàng đường hàng không, hàng đường biển, dịch vụ khai báo hải quan, hàng dự án và vận chuyển hàng nội địa</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Row -->
                <!-- Start Row -->
                <div class="row mb-5">
                    <!-- Start Col -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="img/team/01.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="team-details">
                                <div class="team-social-icons">
                                    <ul class="social-list">
                                        <li><a href="#"><i class="bi bi-truck-front"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-inner text-center">
                                    <h5 class="team-title">VẬN TẢI BIỂN</h5>
                                    <p>Vận chuyển đường biển quốc tế xuất nhập trọn gói, đa dạng mặt hàng chủng loại</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Col -->
                    <!-- Start Col -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="img/team/02.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="team-details">
                                <div class="team-social-icons">
                                    <ul class="social-list">
                                        <li><a href="#"><i class="bi bi-airplane"></i></a></li>
                                        
                                    </ul>
                                </div>
                                <div class="team-inner text-center">
                                    <h5 class="team-title">VẬN TẢI AIR</h5>
                                    <p>Vận chuyển đường hàng không quốc tế xuất nhập giá cạnh tranh, giao hàng đúng thời gian</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Col -->
                    <!-- Start Col -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="img/team/03.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="team-details">
                                <div class="team-social-icons">
                                    <ul class="social-list">
                                        <li><a href="#"><i class="bi bi-truck"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-inner text-center">
                                    <h5 class="team-title">KHAI HẢI QUAN</h5>
                                    <p>Thông quan hàng nhập khẩu và xuất khẩu nhanh chóng, mối quan hệ hải quan mạnh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Col -->
                </div>
                <!-- End Row -->
                <!-- Start Row -->
                <div class="row">
                    <!-- Start Col -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="~/img/team/04.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="team-details">
                                <div class="team-social-icons">
                                    <ul class="social-list">
                                        <li><a href="#"><i class="bi bi-truck-front"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-inner text-center">
                                    <h5 class="team-title">HÀNG DỰ ÁN</h5>
                                    <p>Hàng dự án máy móc, lắp đặt máy móc theo yêu cầu của khách hàng và đạt tiêu chuẩn an toàn Nhật Bản</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Col -->
                    <!-- Start Col -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="img/team/05.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="team-details">
                                <div class="team-social-icons">
                                    <ul class="social-list">
                                        <li><a href="#"><i class="bi bi-truck-front"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-inner text-center">
                                    <h5 class="team-title">BIỂN NỘI ĐỊA</h5>
                                    <p>Vận chuyển Container đường biển nội địa HCM, Hải Phòng, Đà Nẵng... giá cạnh tranh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Col -->
                    <!-- Start Col -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="img/team/06.jpg" class="img-fluid" alt="">
                            </div>

                            <div class="team-details">
                                <div class="team-social-icons">
                                    <ul class="social-list">
                                        <li><a href="#"><i class="bi bi-truck-front"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-inner text-center">
                                    <h5 class="team-title">BỘ NỘI ĐỊA</h5>
                                    <p>Kéo Container và xe tải nội địa, hàng ghép xe nội địa và hàng bộ biển kết hợp giao cho khách hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Col -->
                </div>
                <!-- End Row -->
            </div>
        </section>
        <!-- Team section End -->

        <!-- Services Section Start -->
        <section id="services" class="section">
            <div class="container">
                <div class="row">
                    <!-- Start Col -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="services-item text-center">
                            <div class="icon">
                                <i class="lni lni-coin"></i>
                            </div>
                            <h4>GIÁ CẠNH TRANH</h4>
                            <p>Với số lượng hàng hoá thường xuyên, chúng tôi cạnh tranh về giá dịch vụ cực tốt cho đa dạng mặt hàng.</p>
                        </div>
                    </div>
                    <!-- End Col -->
                    <!-- Start Col -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="services-item text-center">
                            <div class="icon">
                                <i class="lni lni-anchor"></i>
                            </div>
                            <h4>ĐẠI LÝ MẠNH</h4>
                            <p>Hệ thống đại lý đa dạng xử lý ở nhiều cảng và sân bay, mối quan hệ và lượng hàng tốt nên chất lượng dịch vụ luôn được đảm bảo.</p>
                        </div>
                    </div>
                    <!-- End Col -->
                    <!-- Start Col -->
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="services-item text-center">
                            <div class="icon">
                                <i class="lni lni-full-screen"></i>
                            </div>
                            <h4>HẬU CẦN LỚN</h4>
                            <p>Đội ngũ bộ phận chứng từ, khai hải quan,.. nhiều kinh nghiệm, đối tác vận chuyển Cont ổn định cùng mối quan hệ với hải quan tốt.</p>
                        </div>
                    </div>
                    <!-- End Col -->

                </div>
            </div>
        </section>
        <!-- Services Section End -->

        <!-- Business Plan Section Start -->
        <section id="business-plan">
            <div class="container">

                <div class="row">
                    <!-- Start Col -->
                    <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
                        <div class="business-item-img">
                            <img src="~/img/business/business-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <!-- End Col -->
                    <!-- Start Col -->
                    <div class="col-lg-6 col-md-12 pl-4">
                        <div class="business-item-info">
                            <h3>DỊCH VỤ LOGISTICS KHIẾN MỌI THỨ TRỞ NÊN DỄ DÀNG VỚI MỘT CHI PHÍ HỢP LÝ NHẤT</h3>
                            <p>Minee Logistics là nhà cung cấp dịch vụ logistics, vận chuyển container quốc tế, nội địa, vận chuyển bằng đường hàng không, là đại lý hải quan với nhiều chi nhánh tại Việt Nam: Hà Nội, Hải Phòng, Đà Nẵng, Hồ Chí Minh, Bình Dương.</p>

                            <a class="btn btn-primary" href="#">Xem Profile</a>
                        </div>
                    </div>
                    <!-- End Col -->

                </div>
            </div>
        </section>
        <!-- Business Plan Section End -->

        <!-- Recent Showcase Section Start -->
        <section id="showcase">
            <div class="container-fluid right-position">
                <!-- Start Row -->
                <div class="row gradient-bg">
                    <div class="col-lg-12">
                        <div class="showcase-text section-header text-center">
                            <div>
                                <h2 class="section-title">
                                    ĐỐI TÁC KHÁCH HÀNG LỚN
                                </h2>
                                <div class="desc-text">
                                    <p>Minee Ligistics luôn là đối tác của các công ty lớn trên toàn thế giới</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Row -->
                <!-- Start Row -->
                <div class="row justify-content-center showcase-area">
                    <div class="col-lg-12 col-md-12 col-xs-12 pr-0">
                        <div class="showcase-slider owl-carousel">
                            <div class="item">
                                <div class="screenshot-thumb">
                                    <img src="img/showcase/02.jpg" class="img-fluid" alt="" />
                                    <div class="hover-content text-center">
                                        <div class="fancy-table">
                                            <div class="table-cell">
                                                <div class="single-text">
                                                    <p>Icon , Web</p>
                                                    <h5>Redesign Slack</h5>
                                                </div>
                                                <div class="zoom-icon">
                                                    <a class="lightbox" href="img/showcase/01.jpg"><i class="lni-zoom-in"></i></a>
                                                    <a href="#"><i class="lni-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="screenshot-thumb">
                                    <img src="img/showcase/01.jpg" class="img-fluid" alt="" />
                                    <div class="hover-content text-center">
                                        <div class="fancy-table">
                                            <div class="table-cell">
                                                <div class="single-text">
                                                    <p>Icon , Web</p>
                                                    <h5>Redesign Slack</h5>
                                                </div>
                                                <div class="zoom-icon">
                                                    <a class="lightbox" href="img/showcase/02.jpg"><i class="lni-zoom-in"></i></a>
                                                    <a href="#"><i class="lni-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="screenshot-thumb">
                                    <img src="img/showcase/03.jpg" class="img-fluid" alt="" />
                                    <div class="hover-content text-center">
                                        <div class="fancy-table">
                                            <div class="table-cell">
                                                <div class="single-text">
                                                    <p>Icon , Web</p>
                                                    <h5>Redesign Slack</h5>
                                                </div>
                                                <div class="zoom-icon">
                                                    <a class="lightbox" href="img/showcase/03.jpg"><i class="lni-zoom-in"></i></a>
                                                    <a href="#"><i class="lni-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="screenshot-thumb">
                                    <img src="img/showcase/04.jpg" class="img-fluid" alt="" />
                                    <div class="hover-content text-center">
                                        <div class="fancy-table">
                                            <div class="table-cell">
                                                <div class="single-text">
                                                    <p>Icon , Web</p>
                                                    <h5>Redesign Slack</h5>
                                                </div>
                                                <div class="zoom-icon">
                                                    <a class="lightbox" href="img/showcase/04.jpg"><i class="lni-zoom-in"></i></a>
                                                    <a href="#"><i class="lni-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="screenshot-thumb">
                                    <img src="img/showcase/05.jpg" class="img-fluid" alt="" />
                                    <div class="hover-content text-center">
                                        <div class="fancy-table">
                                            <div class="table-cell">
                                                <div class="single-text">
                                                    <p>Icon , Web</p>
                                                    <h5>Redesign Slack</h5>
                                                </div>
                                                <div class="zoom-icon">
                                                    <a class="lightbox" href="img/showcase/05.jpg"><i class="lni-zoom-in"></i></a>
                                                    <a href="#"><i class="lni-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="screenshot-thumb">
                                    <img src="img/showcase/06.jpg" class="img-fluid" alt="" />
                                    <div class="hover-content text-center">
                                        <div class="fancy-table">
                                            <div class="table-cell">
                                                <div class="single-text">
                                                    <p>Icon , Web</p>
                                                    <h5>Redesign Slack</h5>
                                                </div>
                                                <div class="zoom-icon">
                                                    <a class="lightbox" href="img/showcase/01.jpg"><i class="lni-zoom-in"></i></a>
                                                    <a href="#"><i class="lni-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="screenshot-thumb">
                                    <img src="img/showcase/07.jpg" class="img-fluid" alt="" />
                                    <div class="hover-content text-center">
                                        <div class="fancy-table">
                                            <div class="table-cell">
                                                <div class="single-text">
                                                    <p>Icon , Web</p>
                                                    <h5>Redesign Slack</h5>
                                                </div>
                                                <div class="zoom-icon">
                                                    <a class="lightbox" href="img/showcase/02.jpg"><i class="lni-zoom-in"></i></a>
                                                    <a href="#"><i class="lni-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="screenshot-thumb">
                                    <img src="img/showcase/08.jpg" class="img-fluid" alt="" />
                                    <div class="hover-content text-center">
                                        <div class="fancy-table">
                                            <div class="table-cell">
                                                <div class="single-text">
                                                    <p>Icon , Web</p>
                                                    <h5>Redesign Slack</h5>
                                                </div>
                                                <div class="zoom-icon">
                                                    <a class="lightbox" href="img/showcase/03.jpg"><i class="lni-zoom-in"></i></a>
                                                    <a href="#"><i class="lni-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="screenshot-thumb">
                                    <img src="img/showcase/09.jpg" class="img-fluid" alt="" />
                                    <div class="hover-content text-center">
                                        <div class="fancy-table">
                                            <div class="table-cell">
                                                <div class="single-text">
                                                    <p>Icon , Web</p>
                                                    <h5>Redesign Slack</h5>
                                                </div>
                                                <div class="zoom-icon">
                                                    <a class="lightbox" href="img/showcase/04.jpg"><i class="lni-zoom-in"></i></a>
                                                    <a href="#"><i class="lni-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="screenshot-thumb">
                                    <img src="img/showcase/10.jpg" class="img-fluid" alt="" />
                                    <div class="hover-content text-center">
                                        <div class="fancy-table">
                                            <div class="table-cell">
                                                <div class="single-text">
                                                    <p>Icon , Web</p>
                                                    <h5>Redesign Slack</h5>
                                                </div>
                                                <div class="zoom-icon">
                                                    <a class="lightbox" href="img/showcase/05.jpg"><i class="lni-zoom-in"></i></a>
                                                    <a href="#"><i class="lni-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
            </div>
        </section>
        <!-- Recent Showcase Section End -->

        <!-- Blog Section -->
        <section id="blog" class="section">
            <!-- Container Starts -->
            <div class="container">
                <!-- Start Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-text section-header text-center">
                            <div>
                                <h2 class="section-title">Bài Viết Mới Nhất</h2>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Row -->
           
                <!-- Start Row -->
                <div class="row">
                @foreach (var item in Model)
                {
                    <!-- Start Col -->
                    <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
                        <!-- Blog Item Starts -->
                        <div class="blog-item-wrapper">
                            <div class="blog-item-img">
                                <a asp-action="Details" asp-route-postId="@item.Id">
                                    <img src="img/blog/01.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="blog-item-text">
                                <div>
                                    <h3><a asp-action="Details" asp-route-postId="@item.Id">@item.Title</a></h3>
                                </div>
                                <div>
                                    <p>@item.Content</p>
                                </div>
                                <a asp-action="Details" asp-route-postId="@item.Id" class="read-more">5 Min read</a>
                            </div>
                            <div class="author">
                                <span class="name"><i class="lni-user"></i><a href="#">Đăng bới by Admin</a></span>
                                <span class="date float-right"><i class="lni-calendar"></i><a href="#">10 April, 2020</a></span>
                            </div>
                        </div>
                        <!-- Blog Item Wrapper Ends-->
                    </div>
                }
                    <!-- End Col -->
                </div>
                <!-- End Row -->   
            </div>
        </section>
        <!-- blog Section End -->

        <!-- Contact Us Section -->
        <section id="contact" class="section">
            <!-- Container Starts -->
            <div class="container">
                <!-- Start Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-text section-header text-center">
                            <div>
                                <h2 class="section-title">Liên Hệ</h2>
                                <div class="desc-text">
                                    <p>Quý khách hàng có nhu cầu vận chuyển hàng hóa, dịch vụ khai thuê hải quan vui lòng liên hệ qua <strong>Ms Hà</strong></p>
                                    <p>SDT: <strong>0886164014</strong>  hoặc Zalo: <strong>0338830714</strong> </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Row -->
                <!-- Start Row -->
                <div class="row">
                    <!-- Start Col -->
                    <div class="col-lg-12 col-md-12">
                        <div class="contact-img">
                            <img class="mx-auto d-block" src="/img/contact/personal_contact.jpg" alt="Alternate Text" />
                        </div>
                        
                    </div>
                </div>
                <!-- End Row -->
            </div>
        </section>
        <!-- Contact Us Section End -->

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
            <i class="lni-chevron-up"></i>
        </a>

        <!-- Preloader -->
        <div id="preloader">
            <div class="loader" id="loader-1"></div>
        </div>
        <!-- End Preloader -->

    <!-- Begin social button -->
    <div class="float-contact">
        <div class="icon chat-zalo">
            <a href="https://zalo.me/0338830714" target="_blank"><img title="Chat Zalo" src="~/img/icon/zalo-icon.png" alt="zalo-icon" width="70" height="70" /></a>
        </div>      
        <div class="icon call-hotline">
            <a href="tel:0886164014"><img title="Call Hotline" src="~/img/icon/phone-icon.png" alt="phone-icon" width="70" height="70" /></a>
        </div>
    </div>
    <!-- End social button -->

</div>
<!-- end contact -->